<div class="wrapper">
  <div class="container">
    <header class="searchbar">

      <app-input></app-input>
      <app-search-detail *ngIf="searchString">
      <h1>Search result for {{searchString}}</h1>
      </app-search-detail>
    </header>
    <main class="movie__cards">
      <app-search-card *ngIf="isLoading" [cards] = 'cardArr'></app-search-card>
      <app-search-results [movies] = "searchResults"></app-search-results>
    </main>
    <footer class="movie__error">
      <app-search-error *ngIf="notFound">
        No movies for that reques. Please try again.
      </app-search-error>
    </footer>
    
  </div>

</div>
